*{ 
    margin: 0;
}

@media (max-width: 768px) {
    nav, nav ul {
        flex-direction: column;
        align-items:center;
    }
    .logo {
        font-size: 1rem;
    }
}

ul{list-style-type: none;}
body{font-family: 'Source Sans Pro', sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    height: 8vh;
    line-height: 65px;
    padding:0px 100px;
    position:relative;
    background-color: #395B64;
}
nav .logo{
    display: flex;
    justify-content: flex-start;
    position:;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgb(253, 243, 100);
}

nav ul li{ 
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 32px;
}
nav ul li a:hover{
    color: #2C3333;
}

th {
    display: inline-block;
    width: 14%;
    color: #2C3333;
    text-align: center;
    background-color: rgb(166, 218, 216);
}

.month {
    display: flex;
    width:100%;
    justify-content:space-around;
    text-align: center;
    background-color:#395B64;
    font-size: 0.8rem;
    color:white;
    height: 7vh;
    padding-top: 20px;
}
#header-month {
    display: flex ;
    text-align: center;
    justify-content: center;
    padding-left: 190px;
}

.calendar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

tbody { 
    padding: 10px 0;
    background-color: #ecf5f2;
}

td  {
    background-color: white;
    border-radius: 8%;
    display: inline-block;
    margin: 5px 5px;
    font-size: 20px;
    border: 1px solid rgb(179, 179, 179);
    cursor: pointer;
    width: 13%;
    height: 10vh;
    color: grey;
    transition: all 600ms;
}

td:hover{
        background:rgb(240, 234, 145) ;
    }

button {
    border: none;
    background-color: transparent;
    position: relative;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.container{
    display:flex;
    background-color: #a1e8ed;
    justify-content: left;
    padding: 10px;
    font-size: 15px;
    align-self: center;
    width: 20%;
    height: 40vh;
}
.prev-month, .next-month{
    display: flex;
    width:5px;
    height: 5px;
    background-color:#395B64;
    font-size: 1rem;
    color:white;

}

.prev-month{
    
    font-size: 1.4rem;
    color: white;
}

.prev-month:hover{
    color:#2C3333;
}

.next-month {
    font-size: 1.4rem;
    color: white;
}

.next-month:hover{
    color: #2C3333;
}

.weekdays {
    background-color: rgb(166, 218, 216);
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    width: 40px ;

}
tr {
    display: flex;
    flex-direction: row; 
    align-items: center;
    
}
table{
    border-collapse: collapse;
    border: 1px solid rgb(105, 156, 154);
    height: 100px;
    width:59%;
    border-spacing: 0;
    padding-left: 40px;

}


footer{
    height: 5vh;
    width: 100%;
    background: #2B4865;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* Select Date */

.select-date #month #year {
    flex-basis: 25%;
    display: flex;
    flex-direction:row;
    border-radius: 3px;
    padding-left: 40px;
    color: #2C3333;
    -moz-appearance: textfield;
    text-align: center;
    justify-content: center;
}



.today-btn {
    color: #395B64;
    border: 1px solid #395B64;
    background: #E7F6F2;
    align-items: center;
    outline: none;
    border-radius: 7px;
}

.today-btn:hover{
    color: white;
    border-radius: 0;
    background-color: #2C3333;
}

.select-date label{
    margin-left: 40px;
    align-self: center;
}

table {
    border-width: 1px;
    border-style: dashed;
    border-color: red;
}

div {
    border-width: 1px;
    border-style: dashed;
    border-color: red;
}

.rightcontainer {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

.rightcontainer .today-date {
    width: 50%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-left: 70px;
    margin-top: 200px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.today-date .event-date {
    font-size: 2rem;
    font-weight: 500;
}

.today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color:#3c4545;
}

.add-event {
    position: absolute;
    bottom: 150px;
    border-radius: 50%;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color:grey;
    border: 2px solid #878895;
    opacity: 0.6;
    background-color: transparent;
    cursor: pointer;
}
.add-event:hover {
    opacity: 1;
}

.add-event i {
    pointer-events: none;
}
.active {
    background-color: #b7d9dc;
}

.date-selector {
    display: flex;
    align-items: center;
    bottom: 100px;
    top: 30px;
    width: 15%;

}