*{ 
    margin: 0;
}

@media (max-width: 768px) {
    nav, nav ul {
        flex-direction: column;
        align-items:center;
    }
    .logo {
        font-size: 1rem;
    }
}
.calendar-days
ul{list-style-type: none;}
body{font-family: 'Source Sans Pro', sans-serif;
}
nav{
    display: flex;
    justify-content:space-between;
    height: 8vh;
    line-height: 65px;
    padding:0px 100px;
    position:relative;
    background-color: #395B64;
}
nav .logo{
    display: flex;
    justify-content: flex-start;
    position:;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgb(253, 243, 100);
}

nav ul li{ 
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 32px;
}
nav ul li a:hover{
    color: #2C3333;
}

.month {
    display: flex;
    width:100%;
    justify-content:space-around;
    text-align: center;
    background-color:#395B64;
    font-size: 0.8rem;
    color:white;
    height: 7vh;
    padding-top: 20px;
}

.header-date {
    display: flex ;
    text-align:start;
    justify-content:flex-start;
    font-size: 2rem;
}

.calendar {
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: center;
}

.weekdays {
    background-color: rgb(166, 218, 216);
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
    width: 100% ;
}

.weekdays div {
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
    transition: all 600ms;

}

.days .day {
    border-radius: 8%;
    width: 12.5%;
    height: 10vh;
    margin: 5px 5px;
    padding-left: 3px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: grey;
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
}

.day:not(.prev-date, next-date):hover {
    color: rgb(2, 96, 101);
}

.days .prev-date,
.days .next-date {
    color: #b3b3b3;
}

.prev, .next {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

.next:hover {
    color: #2C3333 ;
}

.prev:hover {
    color: #2C3333 ;
}

.days .active {
    position: relative;
    font-size: 1.3rem;
    color: rgb(16, 187, 28);
    background-color:#dbefec ;
}


.days .today {
    font-size: 1.2rem;
    color:#06394a;
    background-color: #a6d9e9;
}

.days .event {
    background-color: #e4dce9;
    position: relative;
} 

.active .event {
    padding-bottom: 10px;
}


.table{
    background-color: #ecf5f2;
    border: 1px solid rgb(105, 156, 154);
    height: 78vh;
    display:flexbox;
    width: 55%;
    margin-left: 90px;
}


.container-left{
    height: 60vh;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 10px;
}

.task_container{
    display: flex;
    padding: 10px;
    flex-direction:column;
    margin-top: 20px;
}

.task_container .task_name{
    padding: 10px;
    margin: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.task_name.selected{
    box-shadow: 0 0 0 3px rgb(58, 198, 48) inset;
}

#deselect{
    background-color: #06394a;
    color: white;
}

/* Select Date */

.goto-today {
    height: 30px;
    display: flex;
    gap: 5px;
    padding: 5px 5px;
    color: #395B64;
    bottom: 45px;
    justify-content: space-between;
}

.goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #2C3333;
}

.goto-today .goto input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: #2C3333;
    border-radius: 5px;
}

.goto-today button {
    padding: 3px 15px;
    border: 1px solid #2C3333;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color:#395B64;
}

.goto-today button:hover {
    color: #fff;
    background-color: #688e9e;
}

.goto-today .goto button {
    border: none;
    border-left: 1px solid #687171;
    border-radius: 0;
}

.container-right {
    position: relative;
    width: 18%;
    min-height: 100%;
    padding: 20px 0;
    display:flexbox;
}

.container-right .today-date {
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    padding-left: 30px;
    margin-top: 5px;
    text-transform: capitalize;
}

.today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(21, 119, 158);
}

.today-date .event-date {
    font-size: 1.3rem;
    font-weight: 400;
    color:#3c4545; 
    margin-top: 10px;
}

.events { 
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction:column;
    padding-top: 4px;
    background: #80c0dc;
}

.events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
    padding-left: 40px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: linear-gradient(90deg, #3f4458, transparent);
}

.events .event:nth-child(even) {
    background: transparent;
}

.events .event:hover {
    background: linear-gradient(90deg, #7d70ab, transparent );
}

.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.events .event .title .event-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 20px;
    color: rgb(90, 6, 115);
}

.events .event:hover .title i,
.events .event:hover .event-time {
    color: white;
}

.events .event .event-time {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(73, 70, 70);
    margin-left: 15px;
    pointer-events: none;
}

.events ::after {
    content:"✓";
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: #688e9e;
    transform: translateY(-50%);
}

.events .event:hover::after {
    display: flex;
}

.events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #878787;
    margin: auto;
}

.add-event-wrapper {
    position: absolute;
    top: 150px;
    left: 25%;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
}

.add-event-wrapper.active {
    max-height: 150vh;
}

.add-event-header {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    color:#127897;
    border-bottom: 1px solid #f5f5f5;
}

.add-event-header .close {
    font-size: 1.2rem;
    cursor: pointer;
}

.add-event-header .close:hover {
    color: #2C3333;
}

.add-event-header .title {
    font-size: 1.4rem;
    font-weight: 500;
}

.add-event-body {
    display:flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.add-event-body .add-event-input {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:3px;
}

.add-event-body .add-event-input input {
    width: 85%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;
}

.add-event-body .add-event-input input::placeholder {
    color: #97a9ae;
}

.add-event-body .add-event-input input:focus {
    border-color: rgb(240, 165, 205);
}

.add-event-body .add-event-input input:focus::placeholder {
    color: rgb(34, 76, 94);
}

.add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.add-event-btn {
    height:30px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: #127897;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #127897;

}

.add-event-btn:hover {
    color: #127897;
    background-color: transparent;
}

.add-event {
    border-radius: 50%; 
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color:rgb(36, 10, 93);
    border: 2px solid #878895;
    opacity: 0.6;
    background-color: transparent;
    cursor: pointer;
    margin-left:auto;
}
.add-event:hover {
    opacity: 1;
}

.add-event i {
    pointer-events: none;
}

.add-event-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-left: auto;
    
}

.active {
    background-color: #b7d9dc
}

.date-selector {
    display: flex;
    align-items: center;
    bottom: 100px;
    top: 30px;
    width: 15%;
}

.today {
    background-color: rgb(187, 228, 236);
    color: grey;
}






















